<div class="relative w-full overflow-hidden bg-gray-100">
  <!-- Contenedor del slider -->
  <div
    class="flex transition-transform duration-700"
    [ngStyle]="{'transform': 'translateX(' + currentSlide * -100 + '%)'}"
  >
    <div class="min-w-full h-96 bg-cover bg-center" style="background-image: url('https://estaticos-cdn.prensaiberica.es/clip/de389637-99b8-49b4-9215-7ae49fafaa13_alta-libre-aspect-ratio_default_0.jpg')">
      <div class="flex items-center justify-center h-full bg-black bg-opacity-50">
        <h2 class="text-white text-3xl font-bold">¡DONA un paso contra la desigualdad mundial!</h2>
      </div>
    </div>
    <div class="min-w-full h-96 bg-cover bg-center" style="background-image: url('https://static.euronews.com/articles/stories/06/58/75/80/1200x675_cmsv2_3a8cbb02-3845-5191-8f38-4925484d7334-6587580.jpg')">
      <div class="flex items-center justify-center h-full bg-black bg-opacity-50">
        <h2 class="text-white text-3xl font-bold">Apoya nuestras causas sociales</h2>
      </div>
    </div>
    <div class="min-w-full h-96 bg-cover bg-center" style="background-image: url('https://img2.rtve.es/i/?w=1600&i=1699563980290.jpg')">
      <div class="flex items-center justify-center h-full bg-black bg-opacity-50">
        <h2 class="text-white text-3xl font-bold">Haz la diferencia hoy mismo</h2>
      </div>
    </div>
  </div>

  <!-- Controles de navegación -->
  <button
    class="absolute top-1/2 left-4 transform -translate-y-1/2 bg-white p-2 rounded-full shadow-md hover:bg-gray-200"
    (click)="prevSlide()"
  >
    &#9664;
  </button>
  <button
    class="absolute top-1/2 right-4 transform -translate-y-1/2 bg-white p-2 rounded-full shadow-md hover:bg-gray-200"
    (click)="nextSlide()"
  >
    &#9654;
  </button>

  <!-- Indicadores -->
  <div class="absolute bottom-4 left-1/2 transform -translate-x-1/2 flex space-x-2">
    <div
      *ngFor="let slide of slides; let i = index"
      class="w-3 h-3 rounded-full cursor-pointer"
      [ngClass]="{'bg-gray-300': currentSlide !== i, 'bg-white': currentSlide === i}"
      (click)="goToSlide(i)"
    ></div>
  </div>
</div>

<div class=" py-12">
  <div class="max-w-6xl mx-auto text-center">
    <p class="text-4xl font-medium text-gray-600">
      Muchas gracias a todas las socias y socios, donantes, empresas y entidades por hacerlo posible.
    </p>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-16">
      <!-- Personas atendidas -->
      <div class="text-center">
        <p class="text-6xl font-bold text-gray-800">+{{ personsHelped }}</p>
        <p class="text-4xl text-gray-600">Personas atendidas en 2024</p>
      </div>
      <!-- Lugares ayudados -->
      <div class="text-center">
        <p class="text-6xl font-bold text-gray-800">+{{ placesHelped }}</p>
        <p class="text-4xl text-gray-600">Zonas de ayuda en 2024</p>
      </div>
    </div>
  </div>
</div>

<div class="py-12">
  <div class="max-w-6xl mx-auto text-center">
    <h2 class="text-5xl font-bold text-gray-800">¿Cómo colaborar?</h2>
    <div (click)="register()"  class="grid grid-cols-1 md:grid-cols-3 gap-8 mt-8">
      <!-- Paso 1: Regístrate -->
      <div  class="bg-white shadow-md rounded-lg overflow-hidden hover:shadow-lg transition">
        <img
          src="https://img.freepik.com/vector-premium/registro-linea-o-registro-inicie-sesion-obtener-cuenta-aplicacion-telefono-inteligente-interfaz-usuario-aplicacion-movil-contrasena-segura-interfaz-usuario-banner-web-acceso-ilustracion-vector-gente-dibujos-animados_2175-1060.jpg"
          alt="Regístrate"
          class="w-full h-48 object-cover"
        />
        <div class="p-4">
          <h3 class="text-xl font-semibold text-gray-800">Regístrate</h3>
          <p class="text-gray-600 mt-2">Crea tu cuenta para participar y colaborar con los eventos disponibles.</p>
        </div>
      </div>

      <!-- Paso 2: Elige un acontecimiento -->
      <div (click)="register()" class="bg-white shadow-md rounded-lg overflow-hidden hover:shadow-lg transition">
        <img
          src="https://img.freepik.com/fotos-premium/textura-papel-arrugado-eventos-palabras-escritos-papel_384948-7049.jpg"
          alt="Elige un acontecimiento"
          class="w-full h-48 object-cover"
        />
        <div class="p-4">
          <h3 class="text-xl font-semibold text-gray-800">Elige un acontecimiento</h3>
          <p class="text-gray-600 mt-2">Selecciona el evento o causa que más te interese apoyar.</p>
        </div>
      </div>

      <!-- Paso 3: Dona lo que puedas -->
      <div (click)="register()" class="bg-white shadow-md rounded-lg overflow-hidden hover:shadow-lg transition">
        <img
          src="https://img.freepik.com/fotos-premium/uso-telefono-inteligente-evento-publico-festival-musica-vivo-concepto-vacaciones-fiesta-juvenil_217236-17332.jpg"
          alt="Dona lo que puedas"
          class="w-full h-48 object-cover"
        />
        <div class="p-4">
          <h3 class="text-xl font-semibold text-gray-800">Dona lo que puedas</h3>
          <p class="text-gray-600 mt-2">Contribuye con la cantidad que desees para ayudar a la causa.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="relative bg-gray-100 mt-8">
  <img
    src="https://blog.pleo.io/hs-fs/hubfs/Imported_Blog_Media/Zo42kh5LeNNTw-mo_2024_0524_supplier_types_ES_Header.png?width=2480&name=Zo42kh5LeNNTw-mo_2024_0524_supplier_types_ES_Header.png"
    alt="Fondo"
    class="w-full h-96 object-cover"
  />
  <div class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center">
    <div class="text-center text-white px-4">
      <h1 class="text-4xl font-bold mb-4">Conoces a nuestros proveedores</h1>
      <p class="text-lg mb-6">
        Descubre quiénes son y cómo trabajamos juntos para ofrecer productos de
        calidad y sostenibles.
      </p>
      <button
        class="bg-verdeClaro hover:bg-verdeOscuro text-black py-2 px-4 rounded shadow-md" (click)="proveedores()"
      >
        Conócelos
      </button>
    </div>
  </div>
</div>
