<footer class="bg-marronOscuro text-white mt-10 p-6 text-sm flex flex-col md:flex-row md:justify-between items-center gap-4">
  <div class="text-center flex flex-col md:text-left">
    <a href="#">Sobre nosotros</a>
    <a href="#">Política de cookies</a>
    <a href="#">Política medioambientales</a>
    <a href="#">Política de privacidad</a>
    <a href="#">Aviso legal</a>
  </div>
  <div class="flex flex-col items-center">
    <p>Para recibir nuestras notificaciones sobre eventos registre su correo</p>
    <input type="email" placeholder="Introduzca su correo..." class="mt-2 p-2 rounded-lg border border-gray-400">
  </div>
  <div class="flex gap-4 ">
    <a href="#"><i class="fa-brands fa-facebook text-3xl"></i></a>
    <a href="#"><i class="fa-brands fa-instagram text-3xl"></i></a>
    <a href="#"><i class="fa-brands fa-x-twitter text-3xl"></i></a>
    <a href="#"><i class="fa-brands fa-youtube text-3xl"></i></a>
  </div>
</footer>
