<div class="contenedor p-6">
  <h1 class="text-2xl font-bold mb-6 text-center">
    Productos del Acontecimiento - {{ acontecimiento?.nombre }}
  </h1>

  <!-- Ajustar tamaño y separación de la imagen -->
  <div class="flex justify-center mb-8">
    <img
      [src]="acontecimiento?.img"
      alt="{{ acontecimiento?.nombre }} Logo"
      class="w-40 h-40 object-contain"
    />
  </div>

  <div *ngIf="productos.length > 0; else noProductos">
    <div
      class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4 max-h-screen overflow-y-auto"
    >
      <div
        class="producto flex flex-col items-center bg-white p-4 rounded-lg shadow-md space-y-4"
        *ngFor="let producto of productos"
      >
        <img
          [src]="producto.url"
          [alt]="producto.nombre"
          class="imagen-producto h-32 w-auto object-contain"
        />
        <h2 class="text-lg font-semibold text-center">{{ producto.nombre }}</h2>
        <p class="text-sm text-gray-600 text-center">{{ producto.descripcion }}</p>
        <p class="font-bold text-center text-indigo-700">
          <strong>Precio:</strong> {{ producto.precio | currency }}
        </p>
      </div>
    </div>
  </div>

  <ng-template #noProductos>
    <p class="text-lg text-center">No hay productos asociados a este acontecimiento.</p>
  </ng-template>
</div>
