<div class="container mx-auto p-4">
  <h2 class="text-3xl font-semibold mt-8 mb-7">Productos disponibles para {{ acontecimiento.nombre }}:</h2>
  <div class="mb-4">
    <label for="sort">Ordenar por:</label>
    <select id="sort" [(ngModel)]="sortCriteria" (ngModelChange)="sortProducts()">
      <option value="">Seleccionar</option>
      <option value="price">Precio</option>
    </select>
    <button (click)="clearFilter()">Quitar Filtros</button>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    <div *ngFor="let producto of productos" class="bg-verdeClaro items-center flex flex-col justify-center text-center p-4 rounded-2xl shadow-md">
      <img class="w-80 h-40 rounded-2xl" src="{{ producto.url }}" alt="{{ producto.nombre }}">
      <h3 class="text-xl font-bold mb-2 mt-1">{{ producto.nombre }}</h3>
      <p class="text-gray-700">{{ producto.precio }}</p>
      <div class="w-full">
        <button (click)="agregarAlCarrito(producto)" class="p-2 bg-jade rounded-2xl  w-full hover:bg-marronClaro hover:border-2 hover:border-jade">Agregar al Carrito</button>
      </div>
    </div>
  </div>
</div>
