<h2 class="text-center text-xl font-semibold mb-6">Proveedores no validados</h2>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
  <div *ngFor="let proveedor of proveedores" class="bg-[#d3e4c1] rounded-lg p-4 text-center shadow-md">
    <img [src]="proveedor.username" alt="{{ proveedor.username }}" class="w-full h-24 object-cover rounded-md mb-2" />
    <p class="text-lg font-medium">{{ proveedor.numVoluntarios }}</p>
    <p class="text-sm text-gray-500">{{ proveedor.sede }}</p>
    <p class="text-lg font-semibold mt-2">{{ proveedor.ubicacion}}</p>
    <button (click)="validarProveedor(proveedor.id)" class="mt-4 bg-green-500 text-white py-2 px-4 rounded-md hover:bg-green-600 transition">Validar</button>
  </div>
</div>
