<main class="flex-grow container mx-auto py-8 px-4">
  <h2 class="text-center text-xl font-semibold mb-6">Lista de productos</h2>
  <div class="mb-4 flex items-center space-x-4">
    <div class="relative flex-grow">
      <input type="text" [(ngModel)]="filterTerm" placeholder="Buscar productos..." class="w-full p-2 border border-gray-300 rounded-md">
      <button *ngIf="filterTerm" (click)="clearSearch()" class="absolute right-2 top-1/2 transform -translate-y-1/2 bg-red-500 text-white py-1 px-2 rounded-md">
        X
      </button>
    </div>
    <button (click)="toggleSortOrder()" class="bg-[#7A6448] text-white py-2 px-4 rounded-md">
      Ordenar por precio: {{ sortOrder === 'desc' ? 'Mayor a menor' : 'Menor a mayor' }}
    </button>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    <div *ngFor="let product of filteredProducts()" class="bg-[#D4DDB1] rounded-lg p-4 text-center shadow-md transition-transform transform hover:-translate-y-1 hover:shadow-lg">
      <img [src]="product.url" alt="{{ product.nombre }}" class="w-full h-24 object-cover rounded-md mb-2" />
      <p class="text-lg font-medium">{{ product.nombre }}</p>
      <p class="text-sm text-gray-500">{{ product.descripcion }}</p>
      <p class="text-lg font-semibold mt-2">{{ product.precio | currency }}</p>
    </div>
  </div>
  <!--alerta  -->
  <div *ngIf="alertMessage" class="mb-4 p-4 my-8 bg-green-100 text-green-700 rounded">
    {{ alertMessage }}
  </div>
  <button (click)="toggleForm()" class="mt-8 bg-[#7A6448] text-white py-2 px-4 rounded-md hover:bg-[#CDB28A] transition">Crear Productos</button>

  <div *ngIf="showForm" class="mt-8">
    <form [formGroup]="productForm" (ngSubmit)="addProduct()" class="space-y-4">
      <div>
        <label for="nombre" class="block text-sm font-medium text-gray-700">Nombre</label>
        <input type="text" id="nombre" formControlName="nombre" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-green-500 focus:border-green-500 sm:text-sm">
        <div *ngIf="productForm.get('nombre')?.invalid && productForm.get('nombre')?.touched" class="text-red-500 text-sm">El nombre es obligatorio</div>
      </div>
      <div>
        <label for="imagen" class="block text-sm font-medium text-gray-700">Imagen</label>
        <input type="text" id="imagen" formControlName="url" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-green-500 focus:border-green-500 sm:text-sm">
        <div *ngIf="productForm.get('url')?.invalid && productForm.get('url')?.touched" class="text-red-500 text-sm">La imagen es obligatoria</div>
      </div>
      <div>
        <label for="precio" class="block text-sm font-medium text-gray-700">Precio</label>
        <input type="number" id="precio" formControlName="precio" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-green-500 focus:border-green-500 sm:text-sm">
        <div *ngIf="productForm.get('precio')?.invalid && productForm.get('precio')?.touched" class="text-red-500 text-sm">El precio es obligatorio y debe ser mayor o igual a 0</div>
      </div>
      <div>
        <label for="descripcion" class="block text-sm font-medium text-gray-700">Descripción</label>
        <textarea id="descripcion" formControlName="descripcion" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-green-500 focus:border-green-500 sm:text-sm"></textarea>
        <div *ngIf="productForm.get('descripcion')?.invalid && productForm.get('descripcion')?.touched" class="text-red-500 text-sm">La descripción es obligatoria</div>
      </div>
      <button type="submit" class="bg-[#7A6448] text-white py-2 px-4 rounded-md hover:bg-[#CDB28A] transition" [disabled]="productForm.invalid">Agregar Producto</button>
    </form>
  </div>

  <app-vincular-acontecimiento-productos></app-vincular-acontecimiento-productos>
</main>
