<div class="container mx-auto p-4">
  <h2 class="text-3xl font-semibold mt-8 mb-7">Aconteciminetos disponibles:</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    <div *ngFor="let acontecimiento of acontecimientos" class="bg-verdeClaro items-center flex flex-col justify-center text-center p-4 rounded-2xl shadow-md">
      <img class="w-80 h-40 rounded-2xl" src="{{ acontecimiento.img }}" alt="{{ acontecimiento.nombre }}">
      <h3 class="text-xl font-bold mb-2 mt-1">{{ acontecimiento.nombre }}</h3>
      <p class="text-gray-700">{{ acontecimiento.ubicacion }}</p>
      <div class="flex lg:flex-row flex-col justify-center items-center lg:space-x-3 mt-2">
        <a href="/donar/{{ acontecimiento.id }}">
          <button class="p-2 bg-jade rounded-2xl m-2 w-full sm:w-32 hover:bg-marronClaro hover:border-2 hover:border-jade">Donar</button>
        </a>
        <a href="/informacion/acontecimiento/{{ acontecimiento.id }}">
          <button class="p-2 bg-jade rounded-2xl w-full sm:w-32 hover:bg-marronClaro hover:border-2 hover:border-jade">Información</button>
        </a>
        <button class="p-2 bg-verde rounded-2xl m-2 w-full sm:w-32 hover:bg-verdeOscuro hover:border-2 hover:border-verde" (click)="crearAcontecimiento()">Crear Nuevo</button>
        <button class="p-2 bg-azul rounded-2xl m-2 w-full sm:w-32 hover:bg-azulOscuro hover:border-2 hover:border-azul" (click)="editarAcontecimiento(acontecimiento.id)">Editar</button>
        <button class="p-2 bg-rojo rounded-2xl m-2 w-full sm:w-32 hover:bg-rojoOscuro hover:border-2 hover:border-rojo" (click)="eliminarAcontecimiento(acontecimiento.id)">Eliminar</button>
      </div>
    </div>
  </div>
</div>
