<div class=" text-gray-900 font-sans">
  <div class="p-6">
    <div class="flex flex-col items-center md:flex-row md:justify-start gap-8">
      <img [src]="acontecimineto.img" alt="{{ acontecimineto.nombre }} Logo" class="w-96 h-80 rounded-2xl">
      <div class="text-center md:text-left">
        <h2 class="text-4xl font-bold mb-4">{{ acontecimineto.nombre }}</h2>
        <div class="flex gap-8">
          <div class="flex gap-1">
            <p class="text-lg ">Ubicación:</p>
            <p class="text-lg font-bold">{{ acontecimineto.ubicacion }}</p>
          </div>
        </div>
        <p class="text-lg text-justify mt-3">{{ acontecimineto.descripcion }}</p>
      </div>
    </div>
  </div>
</div>



