<!--Cargar los datos de los acontecimientos-->
<div *ngIf="noAsociados.length > 0" class="my-3 overflow-x-auto flex justify-center">
  <table class="min-w-full bg-white text-center shadow-lg rounded-lg">
    <thead>
    <tr>
      <th colspan="5" class="py-4 px-6 border-b text-center text-2xl md:text-xl font-bold bg-gray-200">Acontecimientos no asociados</th>
    </tr>
    <tr class="bg-gray-100">
      <th class="py-3 px-4 border-b border-gray-300">Imagen</th>
      <th class="py-3 px-4 border-b border-gray-300">Nombre</th>
      <th class="py-3 px-4 border-b border-gray-300 max-md:hidden">Ubicación</th>
      <th class="py-3 px-4 border-b border-gray-300">Acción</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let acontecimiento of noAsociados" class="hover:bg-gray-50">
      <td [routerLink]="['/acontecimientos/detalles', acontecimiento.id]"  class="py-3 px-4 border-b border-gray-300">
        <img [src]="acontecimiento.img" alt="{{ acontecimiento.img }}" class="w-20 h-20 object-cover rounded-md mx-auto">
      </td>
      <td [routerLink]="['/acontecimientos/detalles', acontecimiento.id]"   class="py-3 px-4 border-b border-gray-300">{{ acontecimiento.nombre }}</td>
      <td [routerLink]="['/acontecimientos/detalles', acontecimiento.id]"   class="py-3 px-4 border-b border-gray-300 max-md:hidden">{{ acontecimiento.ubicacion }}</td>
      <td class="py-3 px-4 border-b border-gray-300">
        <img src="/confirmar-48.png" alt="Eliminar" (click)="asociarAcontecimiento(acontecimiento.id)" class="w-8 h-8 cursor-pointer inline-block">
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!-- Tabla separada para los acontecimientos asociados -->
<div *ngIf="asociados.length > 0" class="my-3 overflow-x-auto flex justify-center">
  <table class="min-w-full bg-white text-center shadow-lg rounded-lg">
    <thead>
    <tr>
      <th colspan="5" class="py-4 px-6 border-b text-center text-2xl md:text-xl font-bold bg-gray-200">Acontecimientos asociados</th>
    </tr>
    <tr class="bg-gray-100">
      <th class="py-3 px-4 border-b border-gray-300">Imagen</th>
      <th class="py-3 px-4 border-b border-gray-300">Nombre</th>
      <th class="py-3 px-4 border-b border-gray-300 max-md:hidden">Ubicación</th>
      <th class="py-3 px-4 border-b border-gray-300">Acción</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let acontecimiento of asociados" class="hover:bg-gray-50">
      <td class="py-3 px-4 border-b border-gray-300">
        <img [routerLink]="['/acontecimientos/detalles', acontecimiento.id]" [src]="acontecimiento.img" alt="{{ acontecimiento.img }}" class="w-20 h-20 object-cover rounded-md mx-auto">
      </td>
      <td [routerLink]="['/acontecimientos/detalles', acontecimiento.id]"  class="py-3 px-4 border-b border-gray-300">{{ acontecimiento.nombre }}</td>
      <td [routerLink]="['/acontecimientos/detalles', acontecimiento.id]"   class="py-3 px-4 border-b border-gray-300 max-md:hidden">{{ acontecimiento.ubicacion }}</td>
      <td class="py-3 px-4 border-b border-gray-300">
        <img src="/eliminar-48.png" alt="Eliminar" (click)="eliminarAcontecimientoAsociado(acontecimiento.id)" class="w-8 h-8 cursor-pointer inline-block">
      </td>
    </tr>
    </tbody>
  </table>
</div>
