<div class="min-h-screen bg-[#f8f3e9] text-gray-900 font-sans">
  <div class="p-6">
    <div class="flex flex-col items-center md:flex-row md:justify-start gap-8">
      <img [src]="acontecimiento?.img" alt="{{ acontecimiento?.nombre }} Logo" class="w-60 h-60">
      <div class="text-center md:text-left">
        <h2 class="text-4xl font-bold mb-4">{{ acontecimiento?.nombre }}</h2>
        <div class="flex gap-8">
          <div class="flex gap-1">
            <p class="text-lg font-bold">Ubicación:</p>
            <p class="text-lg">{{ acontecimiento?.ubicacion }}</p>
          </div>
        </div>
        <div class="flex gap-1">
          <p class="text-lg font-bold">Descripción:</p>
          <p class="text-lg">{{ acontecimiento?.descripcion }}</p>
        </div>
    </div>
</div>

    <h3 class="text-2xl font-semibold mt-10 mb-4">Ongs que estan asociadas a este acontecimineto</h3>
    <div class="container mx-auto py-4 px-4">
      <div *ngIf="asociados.length === 0" class="text-center text-gray-500">
        <h3 class="text-2xl font-semibold mt-2 mb-4">No hay Ongs asociados.</h3>
      </div>
      <div *ngIf="asociados.length > 0" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
        <div *ngFor="let ong of asociados" class="bg-[#D4DDB1] rounded-lg p-4 text-center shadow-md transition-transform transform hover:-translate-y-1 hover:shadow-lg">
          <div [routerLink]="['/ong/detalles', ong.idUsuario]">
          <img [src]="ong?.img" alt="{{ ong.img }}" class="w-full h-40 object-cover rounded-md mb-2">
          <p class="font-medium">{{ ong.ubicacion }}</p>
          <p class="text-sm text-gray-500">{{ ong.descripcion }}</p>
          <p class="text-lg font-semibold mt-2">{{ ong.sede }}</p>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
