<div class="flex justify-center items-center mt-12 min-h-fit">
  <div class="flex flex-col-reverse sm:flex-row w-full max-w-6xl">
    <!-- Primera columna -->
    <div class="flex flex-col  sm:w-96 flex-1 items-center justify-between p-5 linear sm:rounded-l-2xl">
      <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h2 class="text-center text-2xl/9 font-bold tracking-tight text-black text-stroke-1">SafeHands</h2>
      </div>
      <div class="max-w-96 mt-auto mb-auto text-center">
        <h4 class="text-xl font-bold text-marronOscuro">
          Únete a SafeHands como proveedor y contribuye a nuestra misión de transformar vidas mediante la ayuda humanitaria.
          Al registrarte, podrás participar en nuestros proyectos, colaborar en iniciativas de alto impacto y aportar tus servicios para marcar una diferencia.
          ¡Sé un aliado clave en el cambio junto a SafeHands!

        </h4>
      </div>
    </div>
    <!-- Segunda columna -->
    <div class="flex flex-col h-full bg-verdeClaro p-5 rounded-r-2xl flex-1">
      <div class="w-full max-w-xl rounded-lg ">
        <h2 class="text-2xl font-bold text-center text-gray-700 mb-0">Registro por pasos</h2>
        <!-- Barra de progreso -->
        <div class="flex items-center justify-between mb-6 mt-3">
          <div class="flex items-center">
            <div class="w-8 h-8 flex items-center justify-center rounded-full"
                 [class.bg-jade]="currentStep === 1"
                 [class.bg-gray-300]="currentStep !== 1">
              <span class="text-white px-3">1</span>
            </div>
            <span class="ml-2 text-sm" [ngClass]="{'text-jade': currentStep === 1, 'font-bold': currentStep === 1}">Datos básicos</span>
          </div>
          <div class="w-1/3 h-1 bg-gray-300 font-bold"></div>
          <div class="flex items-center">
            <div class="w-8 h-8 flex items-center justify-center rounded-full"
                 [class.bg-jade]="currentStep === 2"
                 [class.bg-gray-300]="currentStep !== 2">
              <span class="text-white">2</span>
            </div>
            <span class="ml-2 text-sm" [ngClass]="{'text-jade': currentStep === 2, 'font-bold': currentStep === 2}">Detalles</span>
          </div>
          <div class="w-1/3 h-1 bg-gray-300"></div>
          <div class="flex items-center">
            <div class="w-8 h-8 flex items-center justify-center rounded-full"
                 [class.bg-jade]="currentStep === 3"
                 [class.bg-gray-300]="currentStep !== 3">
              <span class="text-white">3</span>
            </div>
            <span class="ml-2 text-sm"[ngClass]="{'text-jade': currentStep === 3, 'font-bold': currentStep === 3}">Confirmación</span>
          </div>
        </div>
      </div>
      <!-- Formulario por pasos -->
      <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
        <div *ngIf="currentStep === 1" class="space-y-6">
          <div class="relative">
            <input id="nombre" type="text" formControlName="nombre" required
                   class="block w-full pl-10 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-verdeOscuro sm:text-sm/6"
                   placeholder="Nombre">
            <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
              <i class="fa-solid fa-signature text-gray-400"></i>
            </div>
            <div *ngIf="registerForm.get('nombre')?.invalid && registerForm.get('nombre')?.touched" class="text-red-500">
              Nombre es requerido.
            </div>
          </div>
          <div class="relative">
            <input id="numVoluntarios" type="number" formControlName="numVoluntarios" required
                   class="block w-full pl-10 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-verdeOscuro sm:text-sm/6"
                   placeholder="Número de voluntarios">
            <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
              <i class="fa-solid fa-arrow-up-9-1 text-gray-400"></i>
            </div>
            <div *ngIf="registerForm.get('numVoluntarios')?.invalid && registerForm.get('numVoluntarios')?.touched" class="text-red-500">
              Número de Voluntarios es requerido y debe ser mayor que 0.
            </div>
          </div>
          <div class="relative">
            <input id="sede" type="text" formControlName="sede" required
                   class="block w-full pl-10 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-verdeOscuro sm:text-sm/6"
                   placeholder="Sede">
            <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
              <i class="fa-solid fa-house text-gray-400"></i>
            </div>
            <div *ngIf="registerForm.get('sede')?.invalid && registerForm.get('sede')?.touched" class="text-red-500">
              Sede es requerida.
            </div>
          </div>
          <div class="relative">
            <input id="ubicacion" type="text" formControlName="ubicacion"  required
                   class="block w-full pl-10 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-verdeOscuro sm:text-sm/6"
                   placeholder="Ubicación">
            <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
              <i class="fa-solid fa-location-dot text-gray-400"></i>
            </div>
            <div *ngIf="registerForm.get('ubicacion')?.invalid && registerForm.get('ubicacion')?.touched" class="text-red-500">
              Ubicacion es rquerido.
            </div>
          </div>
          <div class="relative">
            <input id="cif" type="text" formControlName="cif"  required
                   class="block w-full pl-10 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-verdeOscuro sm:text-sm/6"
                   placeholder="CIF">
            <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
              <i class="fa-solid fa-id-card text-gray-400"></i>
            </div>
            <div *ngIf="registerForm.get('cif')?.invalid && registerForm.get('cif')?.touched" class="text-red-500">
              CIF es requerido.
            </div>
          </div>
          <div class="relative bg-white rounded-lg">
            <div class="ms-10">
              <app-upload-img (imageUploaded)="onImageUploaded($event)"></app-upload-img>
            </div>
            <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
              <i class="fa-solid fa-image text-gray-400"></i>
            </div>
            <div *ngIf="registerForm.get('img')?.invalid && registerForm.get('img')?.touched" class="text-red-500">
              Imagen es requerida.
            </div>
          </div>
        </div>
        <div *ngIf="currentStep === 2" class="space-y-6">
          <div class="relative">
            <input id="username" type="text" formControlName="username" required
                   class="block w-full pl-10 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-verdeOscuro sm:text-sm/6"
                   placeholder="Nombre de usuario">
            <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
              <i class="fa-solid fa-user text-gray-400"></i>
            </div>
            <div *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched" class="text-red-500">
              Nombre de usuario es requerido.
            </div>
          </div>
          <div class="relative">
            <input id="email" type="text" formControlName="email" required
                   class="block w-full pl-10 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-verdeOscuro sm:text-sm/6"
                   placeholder="Correo electrónico">
            <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
              <i class="fa-solid fa-envelope text-gray-400"></i>
            </div>
            <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="text-red-500">
              Correo electrónico es requerido y debe ser válido.
            </div>
          </div>
          <div class="relative">
            <input id="password" type="password" formControlName="password" required
                   class="block w-full pl-10 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-verdeOscuro sm:text-sm/6"
                   placeholder="Contraseña">
            <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
              <i class="fa-solid fa-lock text-gray-400"></i>
            </div>
            <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="text-red-500">
              Contraseña es requerida y debe tener al menos 6 caracteres.
            </div>
          </div>
          <div class="relative">
            <input id="password2" type="password" formControlName="password2" required
                   class="block w-full pl-10 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-verdeOscuro sm:text-sm/6"
                   placeholder="Repite la contraseña">
            <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
              <i class="fa-solid fa-lock text-gray-400"></i>
            </div>
            <div *ngIf="registerForm.get('password2')?.invalid && registerForm.get('password2')?.touched" class="text-red-500">
              Repite la contraseña es requerida.
            </div>
          </div>
        </div>
        <div *ngIf="currentStep === 3">
          <p class="text-gray-600">Confirma los datos ingresados:</p>
          <ul class="mt-4 space-y-2 text-gray-800">
            <li><strong>Nombre de usuario:</strong> {{ registerForm.get('username')?.value }}</li>
            <li><strong>Email:</strong> {{ registerForm.get('email')?.value }}</li>
            <li><strong>Ubicación:</strong> {{ registerForm.get('ubicacion')?.value }}</li>
            <li><strong>CIF:</strong> {{ registerForm.get('cif')?.value }}</li>
            <li><strong>Nº voluntarios:</strong> {{ registerForm.get('numVoluntarios')?.value }}</li>
            <li><strong>Sede:</strong> {{ registerForm.get('sede')?.value }}</li>
          </ul>
        </div>
        <div class="flex justify-between mt-6">
          <button type="button" (click)="prevStep()" [disabled]="currentStep === 1" class="px-4 py-2 bg-gray-300 rounded-lg hover:bg-gray-500">
            Anterior
          </button>
          <button type="button" (click)="nextStep()" [disabled]="currentStep === 3" class="px-4 py-2 bg-verdeOscuro text-black rounded-lg hover:bg-jade">
            Siguiente
          </button>
          <button type="submit" *ngIf="currentStep === 3" class="px-4 py-2 bg-jade text-white rounded-lg hover:bg-green-600">
            Confirmar
          </button>
        </div>
      </form>
      <p class="mt-10 text-center text-sm/6 text-gray-500">
        ¿Ya eres parte de SafeHands?
        <a href="/login" class="font-semibold text-jade hover:text-fondo">Inicia sesión aquí</a>
      </p>
      <p class="text-red-500" *ngIf="errorMessage">{{ errorMessage }}</p>
    </div>
  </div>
</div>
