@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
}
.custom-snackbar {
  background-color: #F9F4E3 !important; /* Nice background color */
  color: #7A6448 !important; /* Text color */
}
